
.dark-mode .dark{
    /* Dark mode styles */
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none; 
  }

header {
    
    animation: slide-in-left 1s ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .head {
    animation: fadeIn 2s ease;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .lead {
    animation: slide-in-right 1s ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  

* {
  transition: all .2s ease;
}

.carousel-item img {
  margin:10px;
}
.block4-wrap {
  display:flex
}
.block4 {
  flex:1 0 25%;
}
.my-captions{margin:10px;padding-bottom:3em}


/* fix width and make user scroll with mouse/touch to see the items */
@media screen and (max-width:768px){
  .block4{max-width:280px;flex:1 0 100%;overflow:hidden}  
  .carousel{overflow:hidden;}
  .carousel-inner{overflow-x:visible;}
}
@media screen and (max-width:480px){
  .block4{max-width:240px;} 
}

.carousel-indicators .active {
  background-color: red; /* Replace "red" with your desired active color */
}

.carousel-indicators li:not(.active) {
  background-color: lightpink /* Replace "blue" with your desired inactive color */
}


.block4 {
  width: 100%; /* Set to 100% to take up full width within the carousel */
  margin: 0 auto; /* Center the card within the carousel */
}

.block4 img {
  transition: transform 0.3s ease; /* Rounded corners for the image border */
}

.block4:hover img {
  transform: scale(1.1); /* Add a slight zoom effect on hover */
}

.my-captions {
  text-align:left /* Center the captions within each card */
}

.block4:hover .carousel-caption {
  opacity: 1; /* Show the captions on hover */
}

