.ani {
    
    animation: slide-in-left 1s ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  button,h1,a{
    animation: fadeIn 2s ease;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }